<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215675674698-u0d2r1t5h2e9o0lva1lkqq3tqobl64bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215675674698-u0d2r1t5h2e9o0lva1lkqq3tqobl64bl</string>
	<key>API_KEY</key>
	<string>AIzaSyCFzVLCnCnquUtAvX9dqmutTK9b8GzagL0</string>
	<key>GCM_SENDER_ID</key>
	<string>215675674698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aberdeen.flutter</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-325bf</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-325bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215675674698:ios:dfec337f3c5502e02386b3</string>
</dict>
</plist>